body {
  background: antiquewhite;
  font-family: sans-serif;
  text-transform: uppercase;
}
ul {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
ul#board,
#result ul {
  max-width: 500px;
  margin: auto;
}
ul#board li {
  position: relative;
  width: 100px;
  height: 100px;
  list-style: none;
  margin: 10px;
  display: inline-block;
}
.front, 
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.front {
  background: lightgreen;
}
.back {
  background: aquamarine;
  transform:rotateY(180deg);
}
h1, h2 {
  text-align: center;

}
li.flipped .front {
  transform:rotateY(180deg);
}
li.flipped .back {
   transform:rotateY(0deg);
}
#playAgain li,
#gameLevel li,
#enterPlayer {
  background: #7bedf4;
  list-style: none;
  margin-left: 10px;
  height: 50px;
  width: 200px; 
  text-align: center;
  line-height: 50px;
  color: #fff; 
}
#enterPlayer {
  margin: auto;
}
#playAgain,
#gameLevel,
#player {
  display: none;
}
#time, #player {
  text-align: center;
  font-size: 16px;
}

#result  {
  display: none;

}
#result ul li {
   list-style: none;
   display: block;
   width: 100%;
}
#result ul li .result-name {
  display: inline-block;
}
#result ul li .result-time {
  display: inline-block;
  float: right;
}